@import url(assets/lunchtypes.css);
@import url(https://fonts.googleapis.com/css?family=Lobster:500,300,700,400);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lt-cursor-pointer {
    cursor: pointer;
}

.text-white {
    color: #FFFFFF !important;
}

.text-red-lt {
    color: #DB4437 !important;
}

.top-10 {
    margin-top: 10px;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-invite {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cover {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;;
    -o-background-size: cover !important;;
    background-size: cover !important;;
}

.form-signin-heading {
    -webkit-font-smoothing: antialiased;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    color: #DB4437;
    font-size: 4em;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.font-high {
    font-size: 2em;
}

.font-med {
    font-size: 1.5em;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #FFFFFF;
}

.subtitle {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    line-height: 1.2;
    margin: 0 0 25px;
}

.ac-invite-text {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    color: rgba(0,0,0,0.87);
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);*/
}

.ac-subtitle {
    font-size: 16px;
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    border: 2px solid #FFFFFF;
}

.form-group-input {
    width: 100%;
}

.mainsec {
    min-height: 100%;
    overflow: hidden;
}

.navbar-form {
    width: 60%;
}

#inputSearch {
    width: 100%;
}

#inputEmail, #inputPassword, #inputSearch {
    color: #FFFFFF;
}

#inputEmail::-webkit-input-placeholder,
#inputPassword::-webkit-input-placeholder,
#inputSearch::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #FFFFFF;
}

#inputEmail:-moz-placeholder,
#inputPassword:-moz-placeholder,
#inputSearch:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
    opacity: 1;
}

#inputEmail::-moz-placeholder,
#inputPassword::-moz-placeholder,
#inputSearch::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFFFFF;
    opacity: 1;
}

#inputEmail:-ms-input-placeholder,
#inputPassword:-ms-input-placeholder,
#inputSearch:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

.navbar-lunchtime {
    background-color: #DB4437;
}

.brand {
    -webkit-font-smoothing: antialiased;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    color: #FFFFFF !important;
    text-align: center;
}

.core-searchlist {
    padding-top: 64px;
    position: relative;
    z-index: 21;
    width: 100%;
}

.searchlist {
    margin: 0 72px;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.searchlist ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

.searchlist ul li {
    cursor: pointer;
    line-height: 36px;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchlist ul li:hover {
    background-color: rgba(0, 0, 0, .05);
}

.searchlistimg {
    vertical-align: middle;
    margin-right: 24px;
    margin-top: 6px;
    float: left;
    background-size: 24px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-user-drag: none;
    background-color: #db4437;
    border-radius: 50%;
}

.searchlisttitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
}

.searchlistendereco {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: 14px;
}

.disable {
    display: none;
}

.enable {
    display: block;
}

#map-canvas {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    margin-top: 60px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF !important;
    font-size: 16px;
}

.globe-locais {
    color: #FFFFFF;
    cursor: pointer;
}

.globe-locais:hover {
    color: #EF9A9A;
    cursor: pointer;
    text-decoration: none;
}

.navbar-brand:hover.globe-locais {
    color: #EF9A9A;
    cursor: pointer;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #EF9A9A !important;
    cursor: pointer;
    text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.menu {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    width: 315px;
    top: 64px;
    z-index: 4;
    -webkit-transform: translateX(-325px);
    transform: translateX(-325px);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 2px 4px 8px rgba(0, 0, 0, .28);
    line-height: 40px;
}

.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.map-canvas.open-com-menu {

}

.map-card-detail-lg {
    min-height: 120px;
    bottom: 0;
    left: 314px;
    overflow: visible;
    position: fixed;
    width: 100%;
    z-index: 3;
    -webkit-transform: translateY(600px);
    transform: translateY(600px);
    -webkit-transition: -webkit-transform .35s cubic-bezier(0.4, 0, 0.2, 1),
    width .35s cubic-bezier(0.4, 0, 0.2, 1),
    height .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform .35s cubic-bezier(0.4, 0, 0.2, 1),
    width .35s cubic-bezier(0.4, 0, 0.2, 1),
    height .35s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 2px -4px 8px rgba(0, 0, 0, .28);
    line-height: 40px;
}

.map-card-detail-lg.open-com-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: calc(100% - 314px);
}

.map-card-detail-lg.open-sem-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 0;
}

.card-detail-lg {
    width: 100%;
}

.marker-labels {
    color: #d2691e;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0 1px 10px rgba(255, 255, 255, 1),
    0 -1px 10px rgba(255, 255, 255, 1),
    1px 0 10px rgba(255, 255, 255, 1),
    -1px 0 10px rgba(255, 255, 255, 1);
}

.row-card {
    margin: 0;
    padding: 5px 2px 5px 2px;
}

.divider {
    border-left: 2px solid #DB4437;
}

.card-title {
    color: #DB4437;
}

.info-icon {
    color: #DB4437;
    margin-right: 10px;
    -webkit-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    font-size: 24px;
}

.user-mini-port {
    border-radius: 50%;
}

.info-line {
    padding: 0 24px 6px 0;
    align-items: center;
    display: flex;
}

.card-marker-icon {
    float: left;
    background-size: 24px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-user-drag: none;
    background-color: #db4437;
    border-radius: 50%;
}

.list-card {
    cursor: pointer;
}

.list-card.card-voted:hover {
    background: #B71C1C;
}

.list-card.card-unvoted:hover {
    background: #E0E0E0;
    color: #B71C1C !important;
}

.list-card.card-unvoted:hover .card-distance {
    color: #B71C1C !important;
}

.list-card.card-unvoted:hover .h4 {
    color: #B71C1C !important;
}

.list-card.card-unvoted:hover .list-group-item-text {
    color: #B71C1C !important;
}

.valor-vazio {
    color: rgba(0, 0, 0, 0.5);
    margin-left: -5px;
}

.valor-vazio-list {
    color: rgba(0, 0, 0, 0.5);
    margin-left: -3px;
}

.card-voted {
    background: #DB4437;
    color: #FFFFFF;
}

.card-voted .h4, .card-voted .list-group-item-text {
    color: #FFFFFF !important;
}

.card-voted .badge {
    color: #DB4437 !important;
    background: #FFFFFF;
}

.card-unvoted {
    background: #FFFFFF;
    color: #DB4437;
}

.card-unvoted .h4, .card-unvoted .list-group-item-text {
    color: #DB4437;
}

.card-unvoted .badge {
    color: #FFFFFF !important;
    background: #DB4437;
}

.card-distance {
    font-size: 20px;
    left: 15px;
    position: relative;
    float: right;
    width: 50px;
    border-left: 1px solid #FFFFFF;
}

.card-distance.card-voted {
    background: transparent;
}

.card-distance.card-unvoted {
    border-left: 1px solid #DB4437;
    background: transparent;
}

.card-distance-top {
    top: 10px;
    position: relative;
}

.card-distance-bottom {
    bottom: 10px;
    position: relative;
}

.footer-edit-btn:hover {
    color: #000000;
}

.fab-button {
    position: absolute;
    top: -30px;
    right: 50px;
}

.fab-close-button {
    position: absolute;
    top: -20px;
    right: 5px;
}

.btn-fab {
    border-radius: 50%;
    font-size: 36px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 2px 4px 8px rgba(0, 0, 0, .28);
    width: 54px;
    height: 54px;
}

.btn-close-fab {
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 2px 4px 8px rgba(0, 0, 0, .28);
    width: 40px;
    height: 40px;
}

.btn-close-fab span {

}

.btn-fab.card-voted {
    color: #FFFFFF;
    background-color: #DB4437;
}

.btn-fab span {
    top: 4px;
    right: 1px;
}

.navbar-back a {
    color: #FFFFFF;
    font-size: 22px;
    text-decoration: none;
}

.navbar-back a:hover {
    color: #bbbbbb;
}

.lt-navbar-text {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 0;
}

.list-groups {
    margin-top: 70px;
}

.list-icons {
    font-size: 14px;
}

.list-icons > .icon-user:hover, .list-icons > .icon-save:hover, .list-icons > .icon-delete:hover {
    color: #000000;
    cursor: pointer;
}

.list-icons > .icon-fav:hover {
    color: #000000;
    cursor: pointer;
}

.list-icons > span {
    margin-left: 12px;
}

.list-icons > .icon-fav:hover::before {
    content: "\e005";
}

.group-name:hover {
    color: #000000;
    cursor: pointer;
}

.lt-group-list {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.selected-group {
    margin: 10px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.group-map-detail {
    height: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.group-detail {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s, opacity .35s cubic-bezier(0.4, 0, 0.2, 1);
}

.detail-group-show {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.hr-group {
    display: none;
    border-top: 1px solid transparent;
}

.hr-group-show {
    display: block;
}

.add-group-fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 23px 12px 23px 23px;
    white-space: nowrap;
}

.btn-add-grp {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.btn-add-grp:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.link-invite {
    font-size: 15px;
    font-weight: 500;
}

.pac-container {
    z-index: 9999;
}

.ac-invite-container {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-left {
    float: left !important;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-right ~ .navbar-right {
    margin-right: 0;
}
.navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.ls-list-selection {
    max-height: 300px;
    overflow: auto;
}

.list-footer-users {
    max-height: 180px;
    overflow: auto;
}

@media only screen
and (max-device-width : 768px) {
    .tooltip {
        display: none !important;
    }
}

@media (min-width: 867px) {
    .navbar-form {
        width: 66%;
    }
}

@media (min-width: 1024px) {
    .navbar-form {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .navbar-form {
        width: 75%;
    }
}