<div>
    <div class="row row-card">
        <div class="col-xs-6 divider">
            <h4 class="card-title">{{markerSelecionado.titulo}}</h4>
            <div class="card-marker-icon {{markerSelecionado.categoria}}"></div>
            <h5>&nbsp;{{markerSelecionado.extra}} -
                {{markerSelecionado.valor}}
                <span class="valor-vazio">{{markerSelecionado.valorVazio}}</span>
            </h5>
        </div>
        <div class="col-xs-6">
            <span>{{markerSelecionado.endereco}}</span>
        </div>
    </div>
    <div class="fab-button">
        <button class="btn-default btn-fab" ng-click="votar(markerSelecionado)"
                ng-class="classCard(markerSelecionado)" tooltip="{{btnVotoTP(markerSelecionado)}}">
            <span class="glyphicon glyphicon-map-marker"></span>
        </button>
    </div>
    <div class="fab-close-button">
        <button class="btn-danger btn-close-fab" tooltip="Fechar" ng-click="closeFooterCard()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>