<div>
    <div class="row row-card">
        <div class="col-xs-6 divider">
            <h3 class="card-title">{{markerSelecionado.titulo}}</h3>
            <div class="card-marker-icon {{markerSelecionado.categoria}}"></div>
            <h4>&nbsp;{{markerSelecionado.extra}} -
                {{markerSelecionado.valor}}
                <span class="valor-vazio">{{markerSelecionado.valorVazio}}</span>
            </h4>
        </div>
        <div class="col-xs-6">
            <span>{{markerSelecionado.endereco}}</span>
            <span>{{markerSelecionado.distancia}}</span>
        </div>
    </div>
</div>